<.flash_group flash={@flash} /> <!DOCTYPE html>
<html lang="en">
  <div class="flex items-center justify-center gap-1 w-[84%] mt-[2%] mx-[8%]">
    <div class="box-border inline h-32 w-32 w-[20%] p-4 border-4 rounded border-purple-900 bg-purple-800">
    </div>
    <div class="box-border inline h-32 w-32 w-[80%] p-4 border-4 rounded border-purple-900 bg-purple-800">
    </div>
  </div>
</html>
