<main class="">
  <.flash_group flash={@flash} />
  <!-- Sidebar -->
  <%= if @current_user do %>
    <%= live_render(@socket, ProjWeb.SidebarLive,
      id: "sidebar-live",
      session: %{"current_user" => @current_user},
      sticky: true
    ) %>
  <% end %>

  <%= @inner_content %>
</main>
