<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <%= if @user_token != nil do %>
      <meta name="user-token" content={@user_token} />
    <% else %>
      <meta name="user-token" content={nil} />
    <% end %>
    <.live_title suffix=" · Elixir Forum">
      {assigns[:page_title] || "Eorum"}
    </.live_title>

    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer>
    </script>
    <script>
      /*to prevent Firefox FOUC, this must be here*/
      let FF_FOUC_FIX;
    </script>
  </head>
  <nav class="z-30 sticky top-0 border-b-purple-600 dark:bg-purple-900">
    <div class="max-w-screen flex flex-wrap content-center justify-between mx-auto p-3">
      <a href={~p"/feed"} class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="/images/Elixir_logo.png" class="h-16" alt="Elixir Logo" />
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">
          Eorum
        </span>
      </a>
      <%!-- Profile, {notification} and messenger icons --%>
      <div class="relative flex items-center md:order-2 mt-4 space-x-10 md:space-x-4 rtl:space-x-reverse">
        <%!-- User Settings Toggle --%>
        <%!-- Settings Dropdown menu toggle animation --%>
        <a
          class="[&>svg]:w-14 cursor-pointer"
          phx-click={ProjWeb.Layouts.App.toggle_dropdown_menu_down()}
        >
          <.icon name="hero-user-solid" class="w-[58px] h-[58px] bg-[#9333ea]" />
        </a>

        <%!-- Dropdown menu --%>
        <ul
          id="dropdown_menu"
          phx-click-away={ProjWeb.Layouts.App.toggle_dropdown_menu_down()}
          class="dropdown-menu-arrow hidden absolute inset-x-50 top-[90px] right-[18px] z-50 flex min-w-[180px] overflow-auto rounded-md border border-purple-gray-50 bg-white p-3 font-sans text-sm font-normal shadow-lg shadow-blue-gray-500/10"
        >
          <li class="text-center text-[0.8125rem] leading-6">
            {@current_user.username} <br />
            {@current_user.email}
          </li>
          <.link href={~p"/users/settings"} class="menulink">
            <.icon name="hero-cog-6-tooth-solid" class="w-[18px] h-[18px] bg-[#6b21a8]" />
            <p class="profileMenuLink">
              Edit Profile
            </p>
          </.link>
          <hr class="my-2 border-blue-gray-50" />
          <.link href={~p"/users/log_out"} method="delete" class="menulink">
            <.icon
              name="hero-arrow-right-start-on-rectangle-solid"
              class="w-[18px] h-[18px] bg-[#6b21a8]"
            />
            <p class="profileMenuLink">
              Sign Out
            </p>
          </.link>
        </ul>

        <%!-- Friends Tab Toggle --%>
        <span
          class="[&>svg]:w-16 cursor-pointer"
          phx-click="toggle_sidebar"
          phx-target="#sidebar-live"
        >
          <.icon name="hero-users-solid" class="w-[64px] h-[64px] bg-[#9333ea]" />
        </span>
      </div>
      <%!-- Middle navigation links --%>
      <div
        class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
        id="navbar-user"
      >
        <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-purple-100 rounded-lg bg-purple-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-purple-800 md:dark:bg-purple-900 dark:border-purple-700">
          <li>
            <.link navigate={~p"/feed"} class="navlink">
              Feed
            </.link>
          </li>
          <li>
            <.link navigate={~p"/forum"} class="navlink">
              Forum
            </.link>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {@inner_content}
</html>
